/*title of game*/
h1 {
	font-family: "Press Start 2P";
	text-align: center;
	font-size: 58px;
	background: -webkit-linear-gradient(#F39728, #B22C22);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
	font-family: "Press Start 2P";
	text-align: center;
	font-size: 48px;
	background: -webkit-linear-gradient(#F39728, #B22C22);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading {
	background: url("../images/background.png");
	height: 200px;
}

/*scoreboard*/
.boards{
	display: block;
}

.score-board {
	border: 3px solid black;
	background-color: #71B1EC;
	color: white;
	height: 30px;
	width: 200px;
	margin: 0 auto;
}

#timer {
	border: 3px solid black;
	background-color: #B22C22;
	color: white;
	height: 30px;
	width: 200px;
	margin: 0 auto;
}

/*Game Board*/
canvas {
	padding-top: 10px;
	margin-left: 200px;
	padding-bottom: 50px;
}

/*player*/
.boxer {
	margin: 0 auto;
	max-width: 200px;
	height: 100px;
	padding-bottom: 100px;
}

#right {
	width: 80px;
	height: 80px;
	transform: rotate(-135deg);
}

#left {
	width: 80px;
	height: 80px;
	transform: rotate(135deg);
}

/*bottom buttons*/
.buttons {
	margin-left: 350px;
}
button {
	background-color: #CD00FF;
	border: 3px solid black;
	margin: 0 auto;
	height: 60px;
	width: 150px;
	margin: 0 140px 0 0;
	color: white;
	font-family: "Press Start 2P";
}